table.todos tbody>tr>td:first-child {
  width: 90%;
}
table.todos tbody>tr>td:last-child {
  width: 4%;
}

table.todos td:last-child, table.todos td:nth-last-child(2) {
  text-align: center;
}

table.todos th {
  font-size: 20px;
  font-weight: 900;
}

table.short-row td {
  padding: 5px;
}

table.short-row a.btn-floating {
  font-size: 1.0rem;
  height: 20px;
  width: 20px;
  line-height: 22.5px;
}

table.short-row a.btn-floating i {
  font-size: 1.0rem;
  line-height: inherit;
}

table.short-row input[type=text] {
  margin: 0px;
  height: inherit;
}